<form #f="ngForm" (ngSubmit)="onSubmit()">
    <!-- predisporre i campi di input al post dei dati nel back-end 
        (le proprieta' dovranno matchare l'interfaccia ed i dati del back-end)
        per sapere il nome delle proprieta' esatte controllare in swagger i valori del request body -->
    <mat-card class="example-card">

        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Inserisci i tuoi dati di accesso.</mat-card-subtitle>

        <mat-card-content>

            <mat-form-field color="warn" appearance="fill">
                <mat-label>Inserisci il tuo username</mat-label>
                <input matInput ngModel name="userName" type="text" id="userName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

        </mat-card-content>

        <mat-card-content>

            <mat-form-field color="warn" appearance="fill">
                <mat-label>Inserisci la tua password</mat-label>
                <input matInput ngModel name="password" id="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button type="submit">Accedi</button>
        </mat-card-actions>

        <mat-card-footer *ngIf="show">
            <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
            <div *ngIf="error">
                <p id="error">Email e password sono obbligatori</p>
            </div>
        </mat-card-footer>

    </mat-card>
</form>