<div class="btns-container">

    <!-- <p>Shop by Product type</p> -->

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/videogames']"
        routerLinkActive="router-link-active">
        Explore Videogame Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/music']" routerLinkActive="router-link-active">
        Explore Music Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/audiobooks']"
        routerLinkActive="router-link-active">
        Explore Audiobook Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

<div class="btns-container">

    <!-- <p>Shop by Platform type</p> -->

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/videogames']"
        routerLinkActive="router-link-active">
        Explore Videogame Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/music']" routerLinkActive="router-link-active">
        Explore Music Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>

    <a id="btn-product" mat-button href="#" [routerLink]="['/products/audiobooks']"
        routerLinkActive="router-link-active">
        Explore Audiobook Catalogue:
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos illo tenetur
        omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
    </a>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

<div>

    <div>

        <h1>Digital Marketplace</h1>

        <mat-card>

            <div>

                <mat-icon>mouse</mat-icon>
            </div>
            <mat-card-header>Invia e ricevi fatture in un click!</mat-card-header>
            <mat-card-subtitle>Crea preventivi, inviali ai tuoi clienti e e quando è il momento convertili in fatture
            </mat-card-subtitle>
        </mat-card>

        <mat-card>
            <div>
                <mat-icon>person_pin</mat-icon>
            </div>
            <mat-card-header>Invia automaticamente al commercialista</mat-card-header>
            <mat-card-subtitle>Con un click invii al tuo commercialista tutti i tuoi documenti fiscali
            </mat-card-subtitle>
        </mat-card>

        <mat-card>
            <div>
                <mat-icon>loyalty</mat-icon>
            </div>
            <mat-card-header>Conservazione dati per oltre 10 anni</mat-card-header>
            <mat-card-subtitle>Ci pensiamo noi alle tue fatture elettroniche, non andiamo da nessuna parte!
            </mat-card-subtitle>
        </mat-card>

    </div>
</div>