<div id="home-cont">

    <mat-card class="home-prod-btns-card">

        <!--         <mat-card-title id="modals-titles">Shop By Product Category</mat-card-title>
        <mat-card-subtitle id="modals-titles">Explore thousands of articles with no limits!</mat-card-subtitle>
 -->
        <div class="vg-img-wrap">
            <div class="img-content">
                <a class="btn-product" id="img-home-videogame" mat-button href="#"
                    [routerLink]="['/products/videogames']" routerLinkActive="router-link-active">
                    Explore Videogame Catalogue:
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos
                    illo
                    tenetur
                    omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
                </a>
            </div>
        </div>

        <div class="msc-img-wrap">
            <div class="img-content">
                <a class="btn-product" id="img-home-music" mat-button href="#" [routerLink]="['/products/music']"
                    routerLinkActive="router-link-active">
                    Explore Music Catalogue
                    <mat-divider></mat-divider>
                    Your Favorite Playlists
                    <mat-divider></mat-divider>
                    Top Songs - Weekly Music Charts
                    <mat-divider></mat-divider>
                    Top 50 Global
                    <mat-divider></mat-divider>

                </a>
            </div>
        </div>

        <div class="book-img-wrap">
            <div class="img-content">
                <a class="btn-product" id="img-home-book" mat-button href="#" [routerLink]="['/products/books']"
                    routerLinkActive="router-link-active">
                    Explore Audiobook Catalogue:
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ut quasi consectetur earum nam eos
                    illo
                    tenetur
                    omnis corporis alias molestiae nostrum exercitationem quis, at sequi magnam qui laudantium ad!
                </a>
            </div>
        </div>

    </mat-card>

    <!-- ////////////////////////////////////////////////////////////////////////////////// -->

    <div id="about-cont">

        <mat-card id="home-card">

            <div id="home-logo-cont">
                <img src="../../../../assets/images/img-logo.png" id="home-logo">
            </div>

            <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <mat-card-content>
                <p><b>Gecko2Code</b> is a digital marketplace where you can find many digital products in one place!

                    Explore our catalogue and choose between thousands of digital Videogames, Music Songs and Books.

                    Manage your profile information all in one place, create your Wishlist or add products to your
                    Shopping Cart.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card id="home-card">
            <mat-card-header>
                <p id="home-card-header">
                    <mat-icon>star_border</mat-icon> <b> Key Points:</b>
                </p>
            </mat-card-header>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <mat-card-content>
                <p>Choose between two purchase methods, recharge your account balance to get a product with no
                    expiration, or switch to Premium Subscription, to get products for free*, choose between 30, 180
                    and 365 days, cancel anytime.</p>
            </mat-card-content>
            <mat-card-footer id="home-card-footer">*Products purchased with subscription will be available to use
                for the duration of the subscription.</mat-card-footer>
        </mat-card>
    </div>
</div>