<div id="home-cont">

    <div id="about-cont">

        <mat-card id="home-card">

            <div id="home-logo-cont">
                <img src="../../../../assets/images/img-logo.png" id="home-logo">
            </div>

            <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <mat-card-content>
                <p>
                    <b>Gecko2Code</b> is a reproduction of a digital marketplace, taking a bit of inspiration from
                    popular
                    platforms such as Spotify, Xbox Store and Epic Games Store.
                    <br>
                    From the <b>Profile Page</b> as a registered user you can manage your personal
                    information/credentials,
                    add/view account balance and subscription details and change your Avatar selecting from pre-sets or
                    uploading via URL.
                    From the <b>Products Page</b> you can add products to your <b>Shopping Cart</b> and/or
                    <b>Wishlist</b>, you will
                    have two purchase options, Purchase with Account Balance (full price) or with Subscription (for free
                    if subscribed), to find the product in your <b>Library</b> when transaction is complete. Also, an
                    Admin
                    have privileges to create, read, update and delete new/existing Admins and Products data sheets.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////// -->

    <mat-card class="home-btns-card">

        <mat-card-title id="modals-titles">Shop By Product Category</mat-card-title>
        <mat-card-subtitle id="modals-titles">Explore thousands of articles with no limits!</mat-card-subtitle>

        <div id="home-btns-card-cont">

            <mat-card-content class="vg-img-wrap">
                <div class="img-content">
                    <a class="btn-product" mat-button href="#" [routerLink]="['/products/videogames']"
                        routerLinkActive="router-link-active">
                        <p id="text-cont">
                            <span id="home-btn-title">Explore Videogames Catalogue</span>
                            <mat-divider></mat-divider>
                            Top Upcoming Wishlisted
                            <mat-divider></mat-divider>
                            Top Player Rated
                            <mat-divider></mat-divider>
                            Coming Soon
                            <mat-divider></mat-divider>
                        </p>
                    </a>
                </div>
            </mat-card-content>

            <mat-card-content class="msc-img-wrap">
                <div class="img-content">
                    <a class="btn-product" mat-button href="#" [routerLink]="['/products/music']"
                        routerLinkActive="router-link-active">
                        <p id="text-cont">
                            <span id="home-btn-title">Explore Music Catalogue</span>
                            <mat-divider></mat-divider>
                            Your Favorite Playlists
                            <mat-divider></mat-divider>
                            Top Songs - Weekly Music Charts
                            <mat-divider></mat-divider>
                            Top 50 Global
                            <mat-divider></mat-divider>
                        </p>
                    </a>
                </div>
            </mat-card-content>

            <mat-card-content class="book-img-wrap">
                <div class="img-content">
                    <a class="btn-product" mat-button href="#" [routerLink]="['/products/books']"
                        routerLinkActive="router-link-active">
                        <p id="text-cont">
                            <span id="home-btn-title">Explore Books Catalogue</span>
                            <mat-divider></mat-divider>
                            Old Fashioned Books
                            <mat-divider></mat-divider>
                            New Releases
                            <mat-divider></mat-divider>
                            Best Sellers
                            <mat-divider></mat-divider>
                        </p>
                    </a>
                </div>
            </mat-card-content>

        </div>

    </mat-card>

    <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="mat-typography">
        <mat-card class="subscription-card">

            <mat-card-title id="modals-titles">Enjoy our Premium Subscription!</mat-card-title>
            <mat-card-subtitle id="modals-titles">Start getting popular products for FREE!</mat-card-subtitle>

            <!-- Contenitore delle 3 Card -->
            <div id="subscription-card-cont">

                <!-- Contenitore Card Singola -->
                <mat-card-content id="subscription-card-content">

                    <div id="sub-title-div">

                        <mat-card-title id="subscription-title">30-days Subscription!</mat-card-title>
                    </div>

                    <div id="sub-subtitle-div">

                        <mat-card-subtitle id="subscription-subtitle">The price for 30 days then auto-renews to $4.90
                            billed
                            monthly. Cancel any time.
                        </mat-card-subtitle>
                    </div>

                    <div id="sub-text-div">

                        <p>Subscription Benefits include:</p>
                        <p>- Full Access to our Catalogue</p>
                        <p>- Get Products for Free*</p>
                        <p>- Play, Listen, Read anywhere</p>
                        <p>- 7-Day Money Back Guarantee</p>
                    </div>

                    <div id="sub-btn-div">

                        <mat-card-footer>
                            <p id="sub-footer">*Requires Continuous Subscription Status</p>
                        </mat-card-footer>
                    </div>

                </mat-card-content>

                <!-- ------------------------------------------- -->

                <mat-card-content id="subscription-card-content">

                    <div id="sub-title-div">

                        <mat-card-title id="subscription-title">180-days Subscription!</mat-card-title>
                    </div>

                    <div id="sub-subtitle-div">

                        <mat-card-subtitle id="subscription-subtitle">The price for 180 days then auto-renews to $24.90
                            billed every six months. Cancel any time.</mat-card-subtitle>
                    </div>

                    <div id="sub-text-div">

                        <p>Subscription Benefits include:</p>
                        <p>- Full Access to our Catalogue</p>
                        <p>- Get Products for Free*</p>
                        <p>- Play, Listen, Read anywhere</p>
                        <p>- 7-Day Money Back Guarantee</p>
                    </div>

                    <div id="sub-btn-div">

                        <mat-card-footer>
                            <p id="sub-footer">*Requires Continuous Subscription Status</p>
                        </mat-card-footer>
                    </div>

                </mat-card-content>

                <!-- ------------------------------------------- -->

                <mat-card-content id="subscription-card-content">

                    <div id="sub-title-div">

                        <mat-card-title id="subscription-title">365-days Subscription!</mat-card-title>
                    </div>

                    <div id="sub-subtitle-div">

                        <mat-card-subtitle id="subscription-subtitle">The price for 365 days then auto-renews to $44.90
                            billed annually. Cancel any time.
                        </mat-card-subtitle>
                    </div>

                    <div id="sub-text-div">

                        <p>Subscription Benefits include:</p>
                        <p>- Full Access to our Catalogue</p>
                        <p>- Get Products for Free*</p>
                        <p>- Play, Listen, Read anywhere</p>
                        <p>- 7-Day Money Back Guarantee</p>
                    </div>

                    <div id="sub-btn-div">

                        <mat-card-footer>
                            <p id="sub-footer">*Requires Continuous Subscription Status</p>
                        </mat-card-footer>
                    </div>

                </mat-card-content>
            </div>
        </mat-card>
    </div>

    <!-- --------------------- Mobile/Tablet --------------------- -->

    <mat-card class="subscription-card-mobile">

        <mat-card-title id="modals-titles">Enjoy our Premium Subscription!</mat-card-title>
        <mat-card-subtitle id="modals-titles">Start getting popular products for FREE!</mat-card-subtitle>

        <!-- Contenitore delle 3 Card -->
        <div id="subscription-card-cont">

            <!-- Contenitore Card Singola -->
            <mat-card-content id="subscription-card-content-mobile">

                <mat-accordion>
                    <mat-expansion-panel class="sub-expansion-panel">

                        <mat-expansion-panel-header id="expansion-header">
                            <mat-panel-title id="subscription-title">30-days Subscription!</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div id="sub-subtitle-div">

                            <mat-card-subtitle id="subscription-subtitle">The price for 30 days then auto-renews to
                                $4.90 billed monthly. Cancel any time.
                            </mat-card-subtitle>
                        </div>

                        <div id="sub-text-div">

                            <p>Subscription Benefits include:</p>
                            <p>- Full Access to our Catalogue</p>
                            <p>- Get Products for Free*</p>
                            <p>- Play, Listen, Read anywhere</p>
                            <p>- 7-Day Money Back Guarantee</p>
                        </div>

                        <div id="sub-btn-div">
                            <mat-card-footer>
                                <p id="sub-footer">*Requires Continuous Subscription Status</p>
                            </mat-card-footer>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel class="sub-expansion-panel">

                        <mat-expansion-panel-header id="expansion-header">
                            <mat-panel-title id="subscription-title">180-days Subscription!</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div id="sub-subtitle-div">

                            <mat-card-subtitle id="subscription-subtitle">The price for 180 days then auto-renews to
                                $24.90 billed every six months. Cancel any time.
                            </mat-card-subtitle>
                        </div>

                        <div id="sub-text-div">

                            <p>Subscription Benefits include:</p>
                            <p>- Full Access to our Catalogue</p>
                            <p>- Get Products for Free*</p>
                            <p>- Play, Listen, Read anywhere</p>
                            <p>- 7-Day Money Back Guarantee</p>
                        </div>

                        <div id="sub-btn-div">
                            <mat-card-footer>
                                <p id="sub-footer">*Requires Continuous Subscription Status</p>
                            </mat-card-footer>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel class="sub-expansion-panel">

                        <mat-expansion-panel-header id="expansion-header">
                            <mat-panel-title id="subscription-title">365-days Subscription!</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div id="sub-subtitle-div">

                            <mat-card-subtitle id="subscription-subtitle">The price for 365 days then auto-renews to
                                $44.90 billed annually. Cancel any time.
                            </mat-card-subtitle>
                        </div>

                        <div id="sub-text-div">

                            <p>Subscription Benefits include:</p>
                            <p>- Full Access to our Catalogue</p>
                            <p>- Get Products for Free*</p>
                            <p>- Play, Listen, Read anywhere</p>
                            <p>- 7-Day Money Back Guarantee</p>
                        </div>

                        <div id="sub-btn-div">
                            <mat-card-footer>
                                <p id="sub-footer">*Requires Continuous Subscription Status</p>
                            </mat-card-footer>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>

            </mat-card-content>
        </div>
    </mat-card>

</div>