<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>
            <mat-icon>gavel</mat-icon> Your Purchase History
        </mat-card-title>
        <mat-divider></mat-divider>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <div *ngFor="let product of historyProducts">
            <mat-divider></mat-divider>
            <p>Product Type: {{product.productType}}</p>
            <p>Title: {{product.title}}</p>
            <p>Price: {{product.priceInitial}}$</p>

            <!-- RIEMPIRE CON ALTRI DATI PRODOTTO -->

            <mat-divider></mat-divider>
        </div>

    </mat-card-content>

</mat-card>