<!-- ================ Profile Card ================ -->
<!-- [*ngIf="user!=null"] Evita errore in console, perche' carica la pagina html e non trova le proprieta di ritorno del get -->

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{user.userName}}</mat-card-title>
        <!-- === NOTA: non legge il role - mod. nel builder del metodo getAllUsersInfo() (java) === -->
        <mat-card-subtitle>
            <!-- {{user.role}} --> #{{user.id}}
        </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <p>{{user.firstName}}</p>
        <p>{{user.lastName}}</p>
        <p>{{user.email}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="openDialog()">Modify fields</button>
    </mat-card-actions>
</mat-card>