<!-- ================ Modal ================ -->
<!-- [*ngIf="user!=null"] Evita errore in console, perche' carica la pagina html e non trova le proprieta di ritorno del get -->

<mat-dialog-content class="mat-typography" *ngIf="user!=undefined">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

        <mat-card class="example-card">

            <mat-card-title>Insert data to be modified</mat-card-title>
            <!-- <mat-card-subtitle>To modify data you need to insert your username/password</mat-card-subtitle> -->

            <mat-card-content>

                <div id="inp-access">
                    <p>First Name:</p>
                    <mat-form-field color="warn" appearance="fill">
                        <input matInput type="text" [(ngModel)]="user.firstName" name="firstName">
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <!-- formControlName="descrizione" DEPRECATED -->
                        <!-- [formControl]="firstName" -->
                        <!-- [(ngModel)]="firstName" -->
                    </mat-form-field>

                    <p>Last Name:</p>
                    <mat-form-field color="warn" appearance="fill">
                        <input matInput type="text" [(ngModel)]="user.lastName" name="lastName">
                        <mat-icon matSuffix>people</mat-icon>
                    </mat-form-field>

                    <p>Email:</p>
                    <mat-form-field color="warn" appearance="fill">
                        <input matInput type="email" [(ngModel)]="user.email" name="email">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <!--                     <br>
                    <p id="divider-title">Insert your username/password again to commit changes</p>
                    <mat-divider id="divider"></mat-divider>
                    <br> -->

                    <!-- ///////////////////////////////////////////////////////////////////////// -->

                    <p>Username:</p>
                    <mat-form-field color="warn" appearance="fill">
                        <mat-label>Enter your username</mat-label>
                        <input matInput type="text" [(ngModel)]="user.userName" name="userName">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <p>Password:</p>
                    <mat-form-field color="warn" appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-dialog-actions align="end">
                        <button mat-button mat-dialog-close>Cancel</button>
                        <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit">Modify</button>
                    </mat-dialog-actions>

                </div>

            </mat-card-content>

        </mat-card>
    </form>
</mat-dialog-content>