<!-- ================ Profile Card ================ -->
<!-- [*ngIf="user!=null"] Evita errore in console, perche' carica la pagina html e non trova le proprieta di ritorno del get -->

<mat-card class="example-card" *ngIf="user!=undefined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Profile Username: {{user.userName}}</mat-card-title>
        <!-- === NOTA: non legge il role - mod. nel builder del metodo getAllUsersInfo() (java) === -->
        <mat-card-subtitle>
            {{user.role}} #{{user.id}}
        </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">


    <mat-card-content id="profile-cont">
        <p id="p-info"><b>First Name:</b> {{user.firstName}}</p>
        <p id="p-info"><b>Last Name:</b> {{user.lastName}}</p>
        <p id="p-info"><b>Email:</b> {{user.email}}</p>
    </mat-card-content>

    <mat-divider id="divider"></mat-divider>
    <br>
    <p id="divider-title">Danger Zone:</p>

    <mat-card-actions id="btn-cont">
        <button mat-button id="profile-modal" (click)="openProfileDialog()">Update Information</button>
        <button mat-button id="profile-modal" (click)="openCredentialDialog()">Update Credentials</button>
        <button mat-button id="profile-modal" (click)="openDeleteDialog()">Delete Account</button>
    </mat-card-actions>



</mat-card>