<div id="product-card-cont">
    <mat-card class="product-card" *ngFor="let videogame of videogames">

        <img mat-card-image [src]=videogame.imgLink>

        <div id="product-card-content">

            <mat-card-header>
                <div id="title">{{videogame.title}}</div>
                <div id="title">Price: {{videogame.price.toFixed(2)}}$</div>
            </mat-card-header>
        </div>

        <div id="card-btns">
            <mat-card-actions *ngIf="showButtons; else noButtonsBlock">

                <button id="btns" mat-button (click)="openPurchaseDialog(videogame.id)" matTooltip="Purchase Product"
                    matTooltipPosition="below">
                    <mat-icon>attach_money</mat-icon>
                </button>

                <button id="btns" mat-button (click)="addToWishList(getId, videogame.id)" matTooltip="Add to Wishlist"
                    matTooltipPosition="below">
                    <mat-icon>favorite</mat-icon>
                </button>

            </mat-card-actions>

            <ng-template #noButtonsBlock></ng-template>
        </div>

    </mat-card>
</div>

<div id="spinner-cont" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>