<mat-toolbar class="toolbar">

    <div id="logo-home-cont">

        <a mat-button (click)="hideProdTab()" [routerLink]="['/home']" routerLinkActive="router-link-active"
            class="logo-cont">
            <!-- <img src="../../../assets/img-logo.png" id="img-logo"> --> LOGO CONTAINER
        </a>

        <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon> Home
        </a>

    </div>

    <div id="prod-cont">

        <a mat-button (click)="toggleProdTab()">
            <mat-icon>store</mat-icon> Products
        </a>

    </div>

    <div id="profile-cont">

        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>reorder</mat-icon>
        </button>

    </div>

</mat-toolbar>

<!-- ================== Product Toolbar ================== -->

<mat-toolbar class="prod-toolbar" *ngIf="showProdTab; else elseBlock">
    <a mat-button href="#" [routerLink]="['/products/videogames']" routerLinkActive="router-link-active">
        <mat-icon>videogame_asset</mat-icon> Videogames
    </a>

    <a mat-button href="#" [routerLink]="['/products/music']" routerLinkActive="router-link-active">
        <mat-icon>music_note</mat-icon> Music
    </a>

    <a mat-button href="#" [routerLink]="['/products/books']" routerLinkActive="router-link-active">
        <mat-icon>book</mat-icon> Books
    </a>
</mat-toolbar>

<ng-template #elseBlock>

</ng-template>

<!-- ================== Sidenav ================== -->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">

        <div id="sidenav-group" *ngIf="isAuthenticated">

            <p mat-card-avatar class="example-header-image"></p>

            <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/profile']"
                routerLinkActive="router-link-active">
                <mat-icon>fingerprint</mat-icon> View Profile
            </a>

            <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/shopping-cart']"
                routerLinkActive="router-link-active">
                <mat-icon>shop</mat-icon> Shopping Cart
            </a>

            <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/library']"
                routerLinkActive="router-link-active">
                <mat-icon>local_library</mat-icon> Library
            </a>

            <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/wishlist']"
                routerLinkActive="router-link-active">
                <mat-icon>stars</mat-icon> Wishlist
            </a>

            <a mat-button (click)="hideProdTab()" href="#" [routerLink]="['/purchase-history']"
                routerLinkActive="router-link-active">
                <mat-icon>history</mat-icon> Purchase History
            </a>

        </div>

        <mat-divider></mat-divider>

        <!-- Authentication Group -->
        <div id="sidenav-group">
            <a mat-button href="#" *ngIf="!isAuthenticated" [routerLink]="['/login']"
                routerLinkActive="router-link-active">
                <mat-icon>login</mat-icon> Login
            </a>

            <button mat-button type="button" *ngIf="isAuthenticated" (click)="logout()">
                <mat-icon>logout</mat-icon> Logout
            </button>

            <a mat-button href="#" *ngIf="!isAuthenticated" [routerLink]="['/signup']"
                routerLinkActive="router-link-active">
                <mat-icon>lock_open</mat-icon> Signup
            </a>
        </div>

    </mat-drawer>

    <div class="example-sidenav-content">
        <!-- Contenuto interno sidenav, serve per far leggere il contenuto delle pagine children -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>