<mat-toolbar class="toolbar">

    <div id="logo-home-cont">
        <a mat-button (click)="drawer.close()" [routerLink]="['/home']" routerLinkActive="router-link-active"
            class="logo-cont">
            <!-- <img src="../../../assets/img-logo.png" id="img-logo"> --> LOGO CONTAINER
        </a>
        <a mat-button (click)="drawer.close()" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon> Home
        </a>
    </div>

    <div id="prod-cont">
        <a mat-button (click)="drawer.close()" (click)="toggleProdTab()">
            <mat-icon>camera</mat-icon> Products
            <mat-icon *ngIf="!showProdTab">expand_more</mat-icon>
            <mat-icon *ngIf="showProdTab">expand_less</mat-icon>
        </a>
    </div>

    <div id="profile-cont">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>reorder</mat-icon>
        </button>
    </div>

</mat-toolbar>

<!-- ================== Product Toolbar ================== -->

<mat-toolbar color="accent" class="prod-toolbar" *ngIf="showProdTab; else elseBlock">
    <a mat-button (click)="drawer.close()" href="#" [routerLink]="['/products/videogames']"
        routerLinkActive="router-link-active">
        <mat-icon>videogame_asset</mat-icon> Videogames
    </a>

    <a mat-button (click)="drawer.close()" href="#" [routerLink]="['/products/music']"
        routerLinkActive="router-link-active">
        <mat-icon>music_note</mat-icon> Music
    </a>

    <a mat-button (click)="drawer.close()" href="#" [routerLink]="['/products/books']"
        routerLinkActive="router-link-active">
        <mat-icon>book</mat-icon> Books
    </a>
</mat-toolbar>

<ng-template #elseBlock>

</ng-template>

<!-- ================== Sidenav ================== -->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">

        <div id="theme-group">
            <mat-icon *ngIf="isDarkMode">wb_sunny</mat-icon>
            <mat-icon *ngIf="!isDarkMode">brightness_2</mat-icon>

            <mat-slide-toggle id="toggle-theme" (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">

            </mat-slide-toggle>
        </div>

        <div id="sidenav-group" *ngIf="isAuthenticated">

            <p mat-card-avatar class="example-header-image"></p>

            <a mat-button (click)="drawer.close()" (click)="hideProdTab()" href="#" [routerLink]="['/profile']"
                routerLinkActive="router-link-active">
                <mat-icon>fingerprint</mat-icon> View Profile
            </a>

            <a matBadge="{{badgeCount}}" matBadgeColor="accent" mat-button (click)="drawer.close()"
                (click)="hideProdTab()" href="#" [routerLink]="['/shopping-cart']"
                routerLinkActive="router-link-active">
                <mat-icon>shop</mat-icon> Shopping Cart
            </a>

            <a mat-button (click)="drawer.close()" (click)="hideProdTab()" href="#" [routerLink]="['/wishlist']"
                routerLinkActive="router-link-active">
                <mat-icon>favorite</mat-icon> Wishlist
            </a>

            <a mat-button (click)="drawer.close()" (click)="hideProdTab()" href="#" [routerLink]="['/library']"
                routerLinkActive="router-link-active">
                <mat-icon>local_library</mat-icon> Library
            </a>

        </div>

        <mat-divider id="auth-divider"></mat-divider>

        <!-- Authentication Group -->
        <div id="sidenav-group">
            <a mat-button href="#" *ngIf="!isAuthenticated" [routerLink]="['/auth']"
                routerLinkActive="router-link-active">
                <mat-icon>lock_open</mat-icon> Login/Signup
            </a>

            <button mat-button type="button" *ngIf="isAuthenticated" (click)="logout()">
                <mat-icon>logout</mat-icon> Logout
            </button>

        </div>

    </mat-drawer>

    <div class="example-sidenav-content">
        <!-- Contenuto interno sidenav, serve per far leggere il contenuto delle pagine children -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>