// ============ Navbar ============

// ------ Toolbar ------

.toolbar {
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
}

#logo-home-cont {
    width: 30%;
    text-align: right;
}

#home-cont {
    width: 15%;
    text-align: center;
}

#prod-cont {
    width: 30%;
    text-align: left;
}

#profile-cont {
    width: 25%;
    text-align: center;
}

// dimensioni immagine
#img-logo {
    width: 100%;
}

// dimensioni tag a, l'immagine ingrandisce di conseguenza 
.logo-cont {
    width: 250px;
}

#btns-toolbar {
    height: 60px;
}

// ------ Products Toolbar ------  

.prod-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#btn-videogame {
    width: 23%;
    text-align: right;
}

#btn-music {
    width: 23%;
    text-align: center;
}

#btn-book {
    width: 23%;
    text-align: left;
}

#btns-toolbar-prod {
    height: 60px;
    width: 100%;
}

// ============ Sidenav ============

// mat-drawer-container
.example-container {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
    padding: 20px;
}

// settare height contenuto pagine alle stesse dimensioni del device in uso
:host ::ng-deep .mat-drawer-container {
    //height: 100%;
    justify-content: center;
    align-items: flex-start;
}

// contenitore sidenav
:host ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    width: 180px;
}

// per sovrapporre la sidenav sopra il contenuto
:host ::ng-deep .mat-drawer-content {
    display: contents;
}

// contenitore sidenav (eccetto btn theme)
#sidenav-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// contenitore btn theme
#theme-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 16px 3px 16px;
}

// mat-slide-toggle
#toggle-theme {
    cursor: pointer;
    margin-left: 20px;
}

#matBadge {
    margin-left: 15px;
}

#darkBadge {
    color: white !important;
}

#lightBadge {
    color: black !important;
}

#auth-divider {
    margin: 5px 0;
}

@media (min-width: 390px) and (max-width: 571px) {

    // ---- Toolbar ----

    #logo-home-cont {
        display: none;
    }

    #home-cont {
        width: 33%;
        text-align: center;
    }

    #prod-cont {
        width: 33%;
        text-align: center;
    }

    #profile-cont {
        width: 33%;
        text-align: center;
    }

    // ---- Products Toolbar ----

    #btn-videogame {
        width: 33%;
        text-align: right;
    }

    #btn-music {
        width: 33%;
        text-align: center;
    }

    #btn-book {
        width: 33%;
        text-align: left;
    }
}

@media (min-width: 570px) and (max-width: 768px) {
    #btns-toolbar {
        width: fit-content;
    }
}