<mat-toolbar color="secondary" id="footer">
    <mat-toolbar-row>
        <div id="footer-details">
            Digital Marketplace &copy; 2022
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div id="footer-details">
            Developed By
            <span>gi-ga-dev</span>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>

        <div id="footer-icons">
            <span id="icons">
                <!-- === NOTA: === Aggiornare lista!!!  -->

                <i class="fa-brands fa-sass"></i>
                <i class="fa-brands fa-angular"></i>
                <i class="fa-brands fa-github"></i>
            </span>
        </div>
    </mat-toolbar-row>

</mat-toolbar>