<!-- ================ Modal ================ -->
<!-- [*ngIf="user!=undefined"] Evita errore in console, perche' carica la pagina html e non trova le proprieta di ritorno del get -->

<mat-dialog-content class="mat-typography" *ngIf="user!=undefined">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

        <mat-card class="example-card">

            <mat-card-title>Modify your personal info</mat-card-title>
            <!-- <mat-card-subtitle>To modify data you need to insert your username/password</mat-card-subtitle> -->

            <mat-card-content id="inp-access">

                <p>First Name:</p>
                <mat-form-field color="warn" appearance="fill">
                    <mat-label>Enter your First Name</mat-label>
                    <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" required>
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>

                <p>Last Name:</p>
                <mat-form-field color="warn" appearance="fill">
                    <mat-label>Enter your Last Name</mat-label>
                    <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" required>
                    <mat-icon matSuffix>people</mat-icon>
                </mat-form-field>

                <p>Email:</p>
                <mat-form-field color="warn" appearance="fill">
                    <mat-label>Enter your Email</mat-label>
                    <input matInput type="email" [(ngModel)]="user.email" name="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-dialog-actions align="end">
                    <button mat-button class="profile-dialog" mat-dialog-close>Cancel</button>
                    <button mat-button class="profile-dialog" [mat-dialog-close]="true" cdkFocusInitial
                        type="submit">Modify</button>
                </mat-dialog-actions>

            </mat-card-content>

            <mat-card-footer>
                <div>
                    <p class="error">All fields are mandatory</p>
                </div>
            </mat-card-footer>

        </mat-card>
    </form>
</mat-dialog-content>

<!-- formControlName="descrizione" DEPRECATED -->
<!-- [formControl]="firstName" -->
<!-- [(ngModel)]="firstName" -->