.mat-typography {
    padding: 0;
}

#card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

#btns-create-modal {
    width: 45%;
    text-align: center;
    margin: 5px auto;
}

#btn-cancel {
    width: 45%;
    text-align: center;
    margin: 10px auto;
}

#title {
    text-align: center;
}

@media (min-width: 400px) and (max-width: 600px) {
    #dialog-actions {
        display: flex;
        flex-direction: column;
    }

    #btns-create-modal {
        width: 95%;
        text-align: center;
        margin: 5px auto;
    }
}