#inp-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divider {
    background-color: rgb(255, 0, 111);
    border: 1px solid rgb(255, 0, 111);
}

.subscription-dialog {
    background-color: rgb(255, 0, 111);
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.error {
    color: rgb(255, 0, 111);
    font-size: 1.1em;
}