// [Add Balance]
#addbalance-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addbalance-sub-cont {
    display: flex;
}

#btns-addbalance {
    width: 200px;
    height: 75px;
    margin: 0 3px;
}

#btn-cancel {
    width: 45%;
    text-align: center;
    margin: 0 auto;
}