// settare padding del dialog a 0;
// utile se si usa una card, aumentarne il padding;
.mat-typography {
    padding: 0;
}

#addbalance-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addbalance-sub-cont {
    display: flex;
}

#btns-addbalance {
    width: 200px;
    height: 75px;
    margin: 0 3px;
}

#btn-cancel {
    width: 45%;
    text-align: center;
    margin: 0 auto;
}