<form #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="signup-card">

        <mat-card-title>Register New Admin</mat-card-title>
        <mat-card-subtitle>Insert registration details</mat-card-subtitle>

        <mat-card-content>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your First Name</mat-label>
                <input matInput ngModel name="firstName" type="text">
                <mat-icon matSuffix>person_outline</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your Last Name</mat-label>
                <input matInput ngModel name="lastName" type="text">
                <mat-icon matSuffix>people</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput ngModel name="email" type="email" placeholder="pat@example.com">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your username</mat-label>
                <!-- il campo userName deve essere lo stesso della classe LoginRequest (Java) -->
                <input matInput ngModel name="userName" type="text">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" ngModel name="password">
                <mat-icon matSuffix>lock_open</mat-icon>
            </mat-form-field>

            <mat-card-actions>
                <button mat-button id="btns" type="submit" [mat-dialog-close]="true" cdkFocusInitial>Signup</button>
            </mat-card-actions>

            <mat-card-footer *ngIf="show">
                <div *ngIf="error">
                    <p id="error">All fields are mandatory</p>
                </div>
            </mat-card-footer>

        </mat-card-content>

    </mat-card>
</form>