.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

/* ========= Card ========= */

.signup-card {
    border: 1px solid black;
    max-width: 350px;
    height: 450px;
    margin: auto;
    text-align: center;
    font-size: 0.7em;
}

:host ::ng-deep .mat-card {
    padding: 0 0 15px 0;
    margin-right: 10px;
    margin-left: 10px;
}

:host ::ng-deep .mat-card-title,
.mat-card-subtitle {
    margin-top: 0;
    margin-bottom: 0;
}

:host ::ng-deep .mat-card-title {
    padding-top: 25px;
}

:host ::ng-deep .mat-card-subtitle {
    padding: 10px 0;
}

:host ::ng-deep .mat-progress-bar {
    width: 75%;
    margin: auto;
    margin-top: -10px;
}

/* ========= Form ========= */

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    // dimensioni campi input
    width: 275px !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    // margine tra le righe di input
    margin-bottom: -12px !important;
}

/* ======== button ======== */

:host ::ng-deep .mat-button {
    width: 275px;
    height: 40px;
}

#error {
    color: rgb(245, 77, 121);
    font-size: 1.1em;
}