#shoppingcart-cont {
    display: flex;
    justify-content: center;
    padding: 15px 0;

    .cart-and-wishlist-card {
        border: 1px solid black;
        border-radius: 10px;
        margin: 5px;
        width: 1280px;

        .mat-card-header {
            justify-content: center;

            #title-cont {
                display: flex;
                align-items: center;

                #shop-icon {
                    margin-right: 5px;
                }
            }
        }

        // font-size generale
        .mat-card-content {
            font-size: 1.1em;

            #cart-cont {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                #prod-type {
                    width: 15%;
                    text-align: left;
                }

                #prod-title {
                    width: 40%;
                    text-align: left;
                }

                #btn-cont {
                    width: 25%;
                    text-align: center;
                }

                #btns {
                    // delete-wishlist btns
                    cursor: pointer;
                    border-radius: 10px;
                    margin: 0 3px;
                }

                #prod-price {
                    width: 15%;
                    text-align: left;
                }
            }

            #subtotal-cont {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                #btn-purchase {
                    font-weight: 700;
                    cursor: pointer;
                    border-radius: 10px;
                    width: 150px;
                    padding: 15px;
                }
            }
        }
    }

    // -------> Media Queries

    @media (max-width: 500px) {
        .cart-and-wishlist-card {
            width: 380px;

            .mat-card-content {
                font-size: 0.9em;
            }
        }
    }

    @media (min-width: 501px) and (max-width: 960px) {
        .cart-and-wishlist-card {
            width: 500px;

            .mat-card-content {
                font-size: 1em;
            }
        }
    }

    @media (min-width: 961px) and (max-width: 1280px) {
        .cart-and-wishlist-card {
            width: 800px;

            .mat-card-content {
                font-size: 1.1em;
            }
        }
    }

}

#divider {
    margin-top: 12px;
    margin-bottom: 12px;
}

#emptyblock-cont {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}