.shoppingcart-card {
    border-radius: 5px;
    margin: 5px;
    width: 1280px;
    //margin-bottom: 500px;
    //background: linear-gradient(135deg, rgba(129, 128, 128, 0.2) 0%, rgba(1, 0, 0, 0.2) 50%, rgba(129, 128, 128, 0.2) 100%);
}

.mat-card-header {
    justify-content: center;

    #title-cont {
        display: flex;
        align-items: center;

        #shop-icon {
            margin-right: 5px;
        }
    }

}

// font-size generale
:host ::ng-deep .mat-card-content {
    font-size: 1.1em;
}

#divider {
    margin-top: 12px;
    margin-bottom: 12px;
}

#cart-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    #prod-type {
        width: 15%;
        text-align: left;
    }

    #prod-title {
        width: 40%;
        text-align: left;
    }

    #btn-cont {
        width: 25%;
        text-align: left;
    }

    #btns {
        // delete-wishlist btns
        cursor: pointer;
        border-radius: 5px;
        margin: 0 3px;
        width: 47%;
        //background: linear-gradient(135deg, rgba(129, 128, 128, 0.4) 0%, rgba(1, 0, 0, 0.4) 50%, rgba(129, 128, 128, 0.4) 100%);
    }

    #prod-price {
        width: 15%;
        text-align: left;
    }
}

#subtotal-cont {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    #btn-purchase {
        font-weight: 700;
        cursor: pointer;
        border-radius: 5px;
        width: 150px;
        padding: 15px;
    }
}

#spinner-cont {
    display: flex;
    justify-content: center;
    height: 500px;
}

#emptyblock-cont {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

// -------> Media Queries

@media (max-width: 500px) {
    .shoppingcart-card {
        width: 380px;
    }

    :host ::ng-deep .mat-card-content {
        font-size: 0.9em;
    }
}

@media (min-width: 501px) and (max-width: 960px) {
    .shoppingcart-card {
        width: 500px;
    }

    :host ::ng-deep .mat-card-content {
        font-size: 1em;
    }
}

@media (min-width: 961px) and (max-width: 1280px) {
    .shoppingcart-card {
        width: 800px;
    }

    :host ::ng-deep .mat-card-content {
        font-size: 1.1em;
    }
}