<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>
            <mat-icon>shop</mat-icon> Your Shopping Cart
        </mat-card-title>
        <mat-divider></mat-divider>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <!-- GET elem nel carrello - Generare una riga per ogni elem nella cartList -->
        <div *ngFor="let product of cartProducts">
            <mat-divider></mat-divider>
            <p>Product Type: {{product.productType}}</p>
            <p>Title: {{product.title}}</p>
            <p>Price: {{product.priceInitial}}$</p>

            <button mat-button (click)="deleteFromCart(getId, product.id)">
                <mat-icon>remove_shopping_cart</mat-icon>
            </button>

            <button mat-button (click)="addToWishList(getId, product.id)">
                <mat-icon>favorite</mat-icon>
            </button>

            <mat-divider></mat-divider>
        </div>

        <br>

        <div>
            <!-- *ngIf="shopSystem != undefined" rimuove errore -->
            <p>Tot. Quantity: {{cartProducts.length}}</p>
            <p>Tot. Price: {{shopSystem.cartSubtotal}}$</p>
            <button mat-button (click)="commitPurchase(getId)">Purchase</button>
        </div>

    </mat-card-content>

</mat-card>