<mat-form-field appearance="standard">
    <mat-label>Search product...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. videogame with name 'Halo'" #input>
</mat-form-field>

<div class="mat-elevation-z8">

    <div class="mat-elevation-z8">

        <table id="table-cont" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

            <!-- ======= Sezione Colonne ======= -->

            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                <!-- se la colonna corrisp. e' === all'elem nell'array, nella colonna riporta un intestazione diversa -->
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p *ngIf="column === displayedColumns[0]">Title: </p>
                    <p *ngIf="column === displayedColumns[1]">Platform: </p>
                    <p *ngIf="column === displayedColumns[2]">Developer: </p>
                    <p *ngIf="column === displayedColumns[3]">Publisher: </p>
                    <p *ngIf="column === displayedColumns[4]">Release Date: </p>
                    <p *ngIf="column === displayedColumns[5]">Genre: </p>
                </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- ========= Scheda Prodotto (Dati da inserire nell'expandable) ========= -->

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let product" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                        [@detailExpand]="product == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">

                            <mat-card class="example-card">
                                <mat-card-title-group id="card-cont">
                                    <mat-card-title>{{product.title}}</mat-card-title>
                                </mat-card-title-group>

                                <mat-card-content>
                                    <b>Title:</b> {{product.title}} <br>
                                    <b>Platform:</b> {{product.platform}} <br>
                                    <b>Developer:</b> {{product.developer}} <br>
                                    <b>Publisher:</b> {{product.publisher}} <br>
                                    <b>Release Date:</b> {{product.releaseDate}} <br>
                                    <b>Genre:</b> {{product.genre}}
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No products registered...</td>
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products">
        </mat-paginator>
    </div>