<mat-dialog-content class="mat-typography">
    <mat-card class="modal-music-card">
        <mat-accordion class="example-headers-align" multi>
            <form id="modal-form" #f="ngForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="fill">
                    <mat-label>Image URL</mat-label>
                    <input matInput ngModel type="text" name="imgLink" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Base Price</mat-label>
                    <input matInput ngModel type="number" name="price" required>
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput ngModel type="text" name="title" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput ngModel type="text" name="description" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Platform</mat-label>
                    <input matInput ngModel type="text" name="platform" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Publisher</mat-label>
                    <input matInput ngModel type="text" name="publisher" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Release Date</mat-label>
                    <input matInput ngModel [matDatepicker]="datepicker" name="releaseDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>

                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button id="btn-cancel" matDatepickerCancel>Cancel</button>
                            <button mat-raised-button id="btns" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>

                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Language</mat-label>
                    <input matInput ngModel type="text" name="language" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Genre</mat-label>
                    <input matInput ngModel type="text" name="genre" required>
                </mat-form-field>

                <!-- Proprieta' comuni music -->

                <mat-form-field appearance="fill">
                    <mat-label>Artist</mat-label>
                    <input matInput ngModel type="text" name="artist" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Album</mat-label>
                    <input matInput ngModel type="text" name="album" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Duration</mat-label>
                    <input matInput ngModel pattern="(((0[1-9])|[^0]\\d):)?[0-5]\\d:[0-5]\\d$" name="duration"
                        placeholder="Format mm:ss or hh:mm:ss" required>
                </mat-form-field>

                <div id="action-btns-cont">
                    <button mat-button id="action-btns" mat-dialog-close>Cancel</button>
                    <button mat-button id="action-btns" type="submit">Create</button>
                </div>

                <!-- <mat-error *ngIf="error != undefined">{{error}}</mat-error> -->

            </form>
        </mat-accordion>
    </mat-card>
</mat-dialog-content>