<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between">

        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" class="logo-cont">
            <!-- <img src="../../../assets/img-logo.png" id="img-logo"> --> LOGO CONTAINER
        </a>

        <a mat-button href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon> Home
        </a>

        <a mat-button href="#" [routerLink]="['/products']" routerLinkActive="router-link-active">
            <mat-icon>store</mat-icon> Products
        </a>

        <a mat-button href="#" [routerLink]="['/library']" routerLinkActive="router-link-active">
            <mat-icon>local_library</mat-icon> Library
        </a>

        <a mat-button href="#" *ngIf="showLogin" [routerLink]="['/login']" routerLinkActive="router-link-active">
            <mat-icon>login</mat-icon> Login
        </a>

        <button mat-button type="button" *ngIf="showLogout" (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
        </button>

        <a mat-button href="#" *ngIf="showSignUp" [routerLink]="['/signup']" routerLinkActive="router-link-active">
            <mat-icon>lock_open</mat-icon> Signup
        </a>

    </div>

</mat-toolbar>