.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

// ----------------------------------------

.mat-typography {
    text-align: center;
}

#action-btns {
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

/* ========= Form ========= */

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    margin: 0 5px;
}

:host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
    margin-left: 5px;
}

:host ::ng-deep .mat-form-field-wrapper {
    // margine tra le righe di input
    margin-bottom: -12px !important;
}

@media (min-width: 400px) and (max-width: 550px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 1 campo di input piccolo
        width: 250px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 250px !important;
        margin-left: 8px;
    }
}

@media (min-width: 551px) and (max-width: 730px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 1 campo di input grande
        width: 350px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 350px !important;
    }
}

@media (min-width: 731px) and (max-width: 880px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 2 campi di input piccoli
        width: 250px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 250px !important;
    }
}

@media (min-width: 881px) and (max-width: 1030px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 2 campi di input grandi
        width: 310px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 310px !important;
    }
}

@media (min-width: 1031px) and (max-width: 1200px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 3 campi di input piccoli
        width: 250px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 250px !important;
    }
}

@media (min-width: 1201px) and (max-width: 1360px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        // 3 campi di input grandi
        width: 290px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 290px !important;
    }
}

@media (min-width: 1361px) {
    :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        width: 500px !important;
    }

    :host ::ng-deep .mat-form-field-flex+.mat-form-field-underline {
        // dimensioni campi input + underline
        width: 500px !important;
    }
}