<div id="product-card-cont">
    <mat-card class="product-card" *ngFor="let book of books">

        <img mat-card-image [src]=book.imgLink>

        <div id="product-card-content">

            <mat-card-header>
                <div id="title">{{book.author}}</div>
                <div id="title">{{book.title}}</div>
                <div id="title">Price: {{book.price.toFixed(2)}}$</div>
            </mat-card-header>
        </div>

        <div id="card-btns">
            <mat-card-actions *ngIf="showButtons; else noButtonsBlock">

                <button id="btns" mat-button (click)="openPurchaseDialog(book.id)" matTooltip="Purchase Product"
                    matTooltipPosition="below">
                    <mat-icon>attach_money</mat-icon>
                </button>

                <button id="btns" mat-button (click)="addToWishList(getId, book.id)" matTooltip="Add to Wishlist"
                    matTooltipPosition="below">
                    <mat-icon>favorite</mat-icon>
                </button>

                <button id="btns" mat-button (click)="openDeleteProdDialog(book.id)" matTooltip="Delete Product"
                    matTooltipPosition="below" *ngIf="getRole === 'ROLE_ADMIN'">
                    <mat-icon>delete_forever</mat-icon>
                </button>

            </mat-card-actions>

            <ng-template #noButtonsBlock></ng-template>
        </div>

    </mat-card>
</div>

<div id="spinner-cont" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>