.purchase-card {
    padding: 0;
    border: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;

    #modals-titles {}

    .img-and-text-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 1100px;

        #purchase-card-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            //height: 400px;
            margin-left: 4px;
            margin-right: 4px;
            //padding: 26px 8px;
            border-radius: 10px;

            // contenitore image
            #img-div {
                margin: auto;
                display: flex;
                align-items: center;
                height: 35%;

                // dimensioni immagine
                .mat-card-image {
                    width: 75%;
                    margin: auto;
                }
            }

            #img-and-text-div {
                height: 50%;
            }

            #btns-div {
                height: 15%;

                #btns {}

                #sub-required {
                    font-size: 0.9em;
                    text-align: center;
                }
            }

        }
    }
}

/* 
@media (max-width: 500px) {
    .img-and-card-content {
        padding: 0;
        display: block;
        flex-wrap: unset;

        .purchase-card {
            .mat-card-content {
                font-size: 1em;
            }

            .mat-card-content>p {
                line-height: 0.9em;
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 750px) {

    .img-and-card-content {
        padding: 0;
        display: block;
        flex-wrap: unset;
    }
}

@media (min-width: 501px) and (max-width: 960px) {
    .img-and-card-content {
        padding: 0;
        display: block;
        flex-wrap: unset;

        .purchase-card {
            .mat-card-content {
                font-size: 1em;
            }

            .mat-card-content>p {
                line-height: 1em;
            }
        }
    }
}

@media (min-width: 961px) and (max-width: 1280px) {
    .img-and-card-content {
        padding: 0;
        display: block;
        flex-wrap: unset;

        .purchase-card {
            .mat-card-content {
                font-size: 1.1em;
            }

            .mat-card-content>p {
                line-height: 1.2em;
            }
        }
    }
} */