<mat-dialog-content class="mat-typography">

    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title><span id="title">Product Info</span></mat-card-title>
            <!-- <mat-card-subtitle>Select a purchase method.</mat-card-subtitle> -->
        </mat-card-header>

        <img mat-card-image [src]="product.imgLink">

        <mat-card-content id="card-content">
            <div id="card-data">

                <p><b>Title: </b>{{product.title}}</p>
                <p><b>Base Price: </b>{{product.price.toFixed(2)}}$</p>
                <p><b>Platform: </b>{{product.platform}}</p>
                <p><b>Publisher: </b>{{product.publisher}}</p>
                <p><b>Release Date: </b>{{product.releaseDate}}</p>
                <p><b>Genre: </b>{{product.genre}}</p>

                <p><b>Ratings: </b><span *ngIf="product.ratings!== null ; else ratingsBlock">{{product.ratings}}</span>
                </p>
                <ng-template #ratingsBlock> No ratings yet...</ng-template>

                <p><b>Reviews: </b><span *ngIf="product.reviews!== null ; else reviewsBlock">{{product.reviews}}</span>
                </p>
                <ng-template #reviewsBlock> No reviews yet...</ng-template>

                <!-- ======== Properties Videogames ======== -->

                <span *ngIf="product.productType == 'Videogame'">

                    <p><b>Downloads: </b> <span
                            *ngIf="product.downloads!== null;else downloadsBlock">{{product.downloads}}</span>
                    </p>
                    <ng-template #downloadsBlock> No Downloads yet...</ng-template>

                    <p><b>Videogame Series: </b>{{product.vgSeries}}</p>

                    <p><b>DLC's: </b> <span *ngIf="product.dlc!== null ; else dlcBlock">{{product.dlc}}</span></p>
                    <ng-template #dlcBlock> No DLC realesed yet...</ng-template>

                    <p><b>Developer: </b>{{product.developer}}</p>
                    <p><b>Age Recommendation: </b>{{product.ageRecommendation}}+</p>
                    <p><b>N. of Players: </b>{{product.players}}</p>
                    <p><b>Co-op Play: </b>{{product.coopPlay}}</p>
                    <p><b>Controller Support: </b>{{product.controllerSupport}}</p>
                    <p><b>Subtitles: </b>{{product.subtitles}}</p>
                    <p><b>Required Space: </b>{{product.requiredSpace}}GB</p>

                </span>

                <!-- ======== Properties Music ======== -->

                <span *ngIf="product.productType == 'Music'">
                    <p><b>Plays: </b> <span *ngIf="product.plays!== null ; else playsBlock">{{product.plays}}</span></p>
                    <ng-template #playsBlock> No Plays yet...</ng-template>

                    <p><b>Artist: </b>{{product.artist}}</p>
                    <p><b>Album: </b>{{product.album}}</p>
                    <p><b>Duration: </b>{{product.duration}}</p>
                </span>

                <!-- ======== Properties Books ======== -->

                <span *ngIf="product.productType == 'Book'">
                    <p><b>Read: </b> <span *ngIf="product.read!== null ; else readBlock">{{product.read}}</span></p>
                    <ng-template #readBlock> No Read yet...</ng-template>

                    <p><b>N. of Pages: </b>{{product.pages}}</p>
                    <p><b>Isbn Code: </b>{{product.isbnCode}}</p>
                    <p><b>Book Series: </b>{{product.bookSeries}}</p>
                    <p><b>Author: </b>{{product.author}}</p>
                </span>

            </div>

            <mat-dialog-actions align="end">

                <button mat-button id="btns" [mat-dialog-close]="true" cdkFocusInitial
                    (click)="openPurchaseWithSubDialog()">Purchase for Free*</button>

                <button mat-button id="btns" [mat-dialog-close]="true" cdkFocusInitial
                    (click)="openPurchaseWithBalanceDialog()">Purchase for
                    {{product.price.toFixed(2)}}$</button>

                <button mat-button id="btns" [mat-dialog-close]="true" cdkFocusInitial
                    (click)="addToCart(getId, product.id)">Add to Cart</button>
            </mat-dialog-actions>

            <p id="required">*Subscription Required - Products will be available for the duration of the subscription
            </p>

        </mat-card-content>

    </mat-card>
</mat-dialog-content>

<!-- <div *ngIf="showSpinner">
    <mat-spinner color="accent"></mat-spinner>
</div> -->