// modificare proprieta' default
:host ::ng-deep .mat-body p,
.mat-body-1 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-1 p,
.mat-typography p {
    margin: 10px 0;
}

// contenitore image
.mat-card-image {
    width: 100%;
}

// contenitore dialog
:host ::ng-deep .mat-dialog-content {
    padding: 0;
    margin: 0;
    text-align: -webkit-center;
    width: 750px;
}

// contenuto dialog
.example-card {
    margin: 5px;
    width: 700px;
    font-size: 1em;
    padding: 0;
}

// settare padding manuale
::ng-deep {
    .mat-dialog-container {
        padding: 16px;
    }
}

// title
:host ::ng-deep .mat-card-header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

// (.mat-card-content) contenitore proprieta'
#card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: grey;
    border-radius: 5px;
}

// contenuto proprieta'
#card-data {
    line-height: 0.9em;
    color: black;
    text-align: center;
}

// contenitore buttons
:host ::ng-deep .mat-dialog-actions {
    justify-content: center;
    padding-top: 0;
}

// styles buttons
#btns {
    color: black;
    width: 95%;
    margin: 2px;
    background-color: rgba(220, 139, 33, 0.783);
}

#btns:hover {
    background-color: orange;
}

// mat-card-footer p
#required {
    font-size: 0.7em;
}

// Media Queries
@media (max-width: 500px) {
    :host ::ng-deep .mat-dialog-content {
        width: 330px;
    }

    .example-card {
        width: 280px;
        font-size: 0.7em;
    }

    // mat-card-footer p
    #required {
        font-size: 0.4em;
    }
}

@media (min-width: 501px) and (max-width: 960px) {
    :host ::ng-deep .mat-dialog-content {
        width: 400px;
    }

    .example-card {
        width: 350px;
        font-size: 0.8em;
    }

    // mat-card-footer p
    #required {
        font-size: 0.5em;
    }

}

@media (min-width: 961px) and (max-width: 1280px) {
    :host ::ng-deep .mat-dialog-content {
        width: 550px;
    }

    .example-card {
        width: 500px;
        font-size: 0.9em;
    }

    // mat-card-footer p
    #required {
        font-size: 0.6em;
    }
}