<!-- ================ Modal ================ -->
<!-- [*ngIf="user!=null"] Evita errore in console, perche' carica la pagina html e non trova le proprieta di ritorno del get -->

<mat-dialog-content class="mat-typography" *ngIf="user!=undefined">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

        <mat-card class="credentials-card">

            <mat-card-title>Modify your credentials</mat-card-title>
            <!-- <mat-card-subtitle>To modify data you need to insert your username/password</mat-card-subtitle> -->

            <mat-card-content id="profile-card-modals">
                <!-- ngModel unidirezionale, permette solo di far leggere la proprieta' nel name al form (tramite ViewChild) -->
                <!-- [(ngModel)] bidirezionale, permette di leggere il get degli oggetti.proprieta di ritorno -->
                <p>Username:</p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your username</mat-label>
                    <input matInput type="text" [(ngModel)]="user.userName" name="userName" required>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <p>Password:</p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput type="password" ngModel name="password" required>
                    <mat-icon matSuffix>lock_open</mat-icon>
                </mat-form-field>

                <mat-dialog-actions align="end">
                    <button mat-button id="btns-profile" mat-dialog-close>Cancel</button>
                    <button mat-button id="btns-profile" type="submit">Modify</button>
                </mat-dialog-actions>

            </mat-card-content>

            <mat-card-footer>
                <div>
                    <p id="error">All fields are mandatory</p>
                </div>
            </mat-card-footer>

        </mat-card>
    </form>
</mat-dialog-content>