<div class="profilecard-cont">
    <mat-card class="profile-card" *ngIf="user!=undefined">

        <mat-card-header id="profile-header-cont">
            <img mat-card-avatar class="avatar-pre-set-img" *ngIf="!user.avatar">
            <img mat-card-avatar class="avatar-url-img" [src]="user.avatar" *ngIf="user.avatar">

            <!-- <mat-card-title>Username: {{user.userName}}</mat-card-title> -->
            <mat-card-subtitle>
                <p>{{user.role}} #{{user.id}}</p>
                <p><b>Username:</b> {{user.userName}}</p>
                <p><b>First Name:</b> {{user.firstName}}</p>
                <p><b>Last Name:</b> {{user.lastName}}</p>
                <p><b>Email:</b> {{user.email}}</p>
                <p><b>Articles Purchased:</b> {{user.qntPurchased}}</p>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content id="profile-expansions-cont">

            <!-- Avatar Selection -->

            <mat-accordion>
                <mat-expansion-panel>

                    <mat-expansion-panel-header class="profile-exp-panel">
                        <mat-panel-title>
                            <p>Avatar Selection:</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div id="images-cont">

                        <!-- Patch avatar property con immagine salvata nel db (DTO) -->

                        <form #f="ngForm" (ngSubmit)="onSubmit()" id="save-avatar-cont">
                            <input mat-input type="text" name="avatar" id="avatar-input" ngModel
                                placeholder="Insert your Avatar via URL">
                            <button mat-button id="btns" type="submit">Modify</button>
                        </form>

                        <!-- Patch avatar property con immagini predefinite (no DTO) -->

                        <div id="pre-set-avatar-cont">

                            <!-- class: "btn-wrapper" fixa il disallineamento tra button ed img al suo interno -->
                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[0]" alt="Avatar Default">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[1]" alt="Avatar 1">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[2]" alt="Avatar 2">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[3]" alt="Avatar 3">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[4]" alt="Avatar 4">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[5]" alt="Avatar 5">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[6]" alt="Avatar 6">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[7]" alt="Avatar 7">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[8]" alt="Avatar 8">
                            </button>

                            <button mat-button id="img-avatar" class="btn-wrapper">
                                <img id="img-avatar" mat-card-image [src]="avatarArray[9]" alt="Avatar 9">
                            </button>

                        </div>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <!-- Account Balance -->

            <mat-accordion>
                <mat-expansion-panel>

                    <mat-expansion-panel-header class="profile-exp-panel">
                        <mat-panel-title>
                            <p>Balance Details:</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div id="balance-cont">

                        <p>Credit Balance: {{user.accountBalance.toFixed(2)}}$</p>
                        <button id="btns" mat-button (click)="openAddBalanceDialog()">
                            <mat-icon>attach_money</mat-icon> Add Balance
                        </button>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <!-- Subscription Details -->

            <mat-accordion>
                <mat-expansion-panel>

                    <mat-expansion-panel-header class="profile-exp-panel">
                        <mat-panel-title>
                            <p>Subscription Details:</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div id="subscr-cont" *ngIf="user.isSubscribed">
                        <p id="subscr-status">Status: SUBSCRIBED <mat-icon>local_play</mat-icon>
                        </p>
                        <p>Current Plan: {{user.subTotalTime}} Days</p>
                        <p>Expires in: {{user.subRemaining}} Days</p>
                        <p>Start: {{user.subStart}}</p>
                        <p>End: {{user.subEnd}}</p>

                    </div>

                    <div id="subscr-cont" *ngIf="!user.isSubscribed">

                        <p id="subscr-status">Status: NOT SUBSCRIBED <mat-icon>highlight_off</mat-icon>
                        </p>
                        <button id="btns" mat-button (click)="openSubscriptionDialog()">
                            <mat-icon>subscriptions</mat-icon> Subscribe
                        </button>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

        </mat-card-content>

        <mat-divider id="divider"></mat-divider>
        <br>
        <p id="divider-title">Danger Zone:</p>

        <mat-card-actions id="profile-dangerzone-cont">
            <button mat-button id="btns-dangerzone" (click)="openProfileDialog()">Update Information</button>
            <button mat-button id="btns-dangerzone" (click)="openCredentialDialog()">Update Credentials</button>
            <button mat-button id="btns-dangerzone" (click)="openAdminDialog()" *ngIf="getRole === 'ROLE_ADMIN'">Admin
                Actions</button>
            <button mat-button id="btns-dangerzone" (click)="openDeleteDialog()">Delete Account</button>
        </mat-card-actions>

    </mat-card>

    <div id="spinner-cont" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
    </div>
</div>