<mat-card class="example-card" *ngIf="user!=undefined">
    <!-- funziona come un async await - dei dati di user -->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div> <!-- small img -->
        <mat-card-title>Username: {{user.userName}}</mat-card-title>
        <mat-card-subtitle>
            <p>{{user.role}} #{{user.id}}</p>

            <p>Articles Purchased: {{user.qntPurchased}}</p>

            <p>Credit Balance: {{user.accountBalance}}$</p>
            <button mat-button (click)="openAddBalanceDialog()">
                <mat-icon>attach_money</mat-icon> Add Balance
            </button>

            <div *ngIf="user.isSubscribed">
                <p>Status: SUBSCRIBED</p>
            </div>

            <div *ngIf="!user.isSubscribed">
                <p>Status: NOT SUBSCRIBED</p>
                <button mat-button (click)="openSubscriptionDialog()">
                    <mat-icon>subscriptions</mat-icon> Subscribe
                </button>
            </div>

        </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">


    <mat-card-content id="profile-cont">
        <p id="p-info"><b>First Name:</b> {{user.firstName}}</p>
        <p id="p-info"><b>Last Name:</b> {{user.lastName}}</p>
        <p id="p-info"><b>Email:</b> {{user.email}}</p>
    </mat-card-content>

    <mat-divider id="divider"></mat-divider>
    <br>
    <p id="divider-title">Danger Zone:</p>

    <mat-card-actions id="btn-cont">
        <button mat-button id="profile-modal" (click)="openAdminDialog()" *ngIf="getRole === 'ROLE_ADMIN'">ADMIN
            ACTIONS</button>
        <button mat-button id="profile-modal" (click)="openProfileDialog()">Update Information</button>
        <button mat-button id="profile-modal" (click)="openCredentialDialog()">Update Credentials</button>
        <button mat-button id="profile-modal" (click)="openDeleteDialog()">Delete Account</button>
    </mat-card-actions>



</mat-card>