<mat-dialog-content class="mat-typography">
    <mat-accordion class="example-headers-align" multi>
        <form #f="ngForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Initial Price</mat-label>
                <input matInput ngModel type="number" name="priceInitial">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput ngModel type="text" name="title">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput ngModel type="text" name="description">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Platform</mat-label>
                <input matInput ngModel type="text" name="platform">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Publisher</mat-label>
                <input matInput ngModel type="text" name="publisher">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Release Date</mat-label>
                <input matInput ngModel type="text" name="releaseDate">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <input matInput ngModel type="text" name="language">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Genre</mat-label>
                <input matInput ngModel type="text" name="genre">
            </mat-form-field>

            <!-- Proprieta' comuni books -->

            <mat-form-field appearance="fill">
                <mat-label>Isbn Code</mat-label>
                <input matInput ngModel type="number" name="isbnCode">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Book series</mat-label>
                <input matInput ngModel type="text" name="bookSeries">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput ngModel type="text" name="author">
            </mat-form-field>

            <div>
                <button mat-button id="action-btns" mat-dialog-close>Cancel</button>
                <button mat-button id="action-btns" type="submit" [mat-dialog-close]="true"
                    cdkFocusInitial>Create</button>
            </div>
        </form>
    </mat-accordion>
</mat-dialog-content>