@import "@angular/material/theming";
@include mat-core();

$primary-light-scheme: (
    100: #c5cae9,
    500: #61699a,
    700: #303f9f,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: #ffffff,
        700: #ffffff,
    ),
);

$accent-light-scheme: (
    100: #e3c38c,
    500: #d7a54f,
    700: #ffa200,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);

$warn-light-scheme: (
    100: #ff80ab,
    500: #ff4081,
    700: #f50057,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);

// -------------------------
// Utilizzo Theme System:
// Inserire selettori nel .light-mode e .dark-mode per i componenti che devono subire un cambiamento
// basta fare piccole modifiche come background e color. La struttura dei componenti come display flex 
// saranno nei loro rispettivi file .scss 

$primary-light-pal: mat-palette($primary-light-scheme);
$accent-light-pal: mat-palette($accent-light-scheme);
$warn-light-pal: mat-palette($warn-light-scheme);

$app-light-theme: mat-light-theme($primary-light-pal, $accent-light-pal, $warn-light-pal);

.light-mode {
    @include angular-material-theme($app-light-theme);

    .orange-snackbar {
        border: 2px solid black;
        background: rgba(232, 169, 52, 1);
        color: black;
    }

    // -----------> Sidenav <-----------

    // contenuto pagine
    .example-sidenav-content {
        background: rgba(211, 211, 211, 0.249);


        .login-cont {
            background: url('../src/assets/images/img-login.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 800px;
        }

        // -------> Media Queries (contenuto pagine)

        @media (max-width: 500px) {
            .login-cont {
                height: 600px;
            }
        }

        @media (min-width: 501px) and (max-width: 960px) {
            .login-cont {
                height: 800px;
            }
        }

        @media (min-width: 961px) and (max-width: 1280px) {
            .login-cont {
                height: 1000px;
            }
        }

    }

    // -----------> Library Page <-----------

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    td.mat-cell,
    td.mat-footer-cell {
        background-color: rgba(68, 134, 214, 0.0666666667);
    }

    .mat-header-cell {
        background-color: rgba(232, 169, 52, 1);
    }

    .mat-paginator {
        background-color: rgb(194, 194, 194);
    }

    // -----------> Shopping Cart Page <-----------

    .shoppingcart-card {
        background-color: #4486d611;
        border: 1px solid rgb(232, 169, 52);
    }

    #divider {
        background-color: rgb(232, 169, 52);
    }

    // utilizzabile in ogni componente chiamandolo nell'html
    #btns {
        // delete-wishlist btns
        border: 2px solid black;
        background: rgba(232, 169, 52, 0.742);
        color: black;
    }

    #btns:hover {
        background-color: orange;
        color: white;
    }

    #btn-purchase {
        border: 2px solid black;
        background: rgba(232, 169, 52, 0.742);
        color: black;
    }

    #btn-purchase:hover {
        background-color: orange;
        color: white;
    }

}

// -------------------------> DARK THEME <------------------------

$app-dark-theme: mat-dark-theme($primary-light-pal, $accent-light-pal, $warn-light-pal);

.dark-mode {
    @include angular-material-theme($app-dark-theme);

    background-color: #333;
    color: rgb(234, 233, 233);

    .orange-snackbar {
        border: 2px solid rgb(38, 38, 38);
        background: rgba(232, 169, 52, 0.742);
        color: rgb(64, 42, 0);
    }

    // -----------> Sidenav <-----------

    // contenuto pagine
    .example-sidenav-content {
        //background: rgba(211, 211, 211, 0.249);


        .login-cont {
            background: url('../src/assets/images/img-login.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 800px;
        }

        // -------> Media Queries (contenuto pagine)

        @media (max-width: 500px) {
            .login-cont {
                height: 600px;
            }
        }

        @media (min-width: 501px) and (max-width: 960px) {
            .login-cont {
                height: 800px;
            }
        }

        @media (min-width: 961px) and (max-width: 1280px) {
            .login-cont {
                height: 1000px;
            }
        }

    }

    // -----------> Library Page <-----------

    tr.example-element-row:not(.example-expanded-row):hover {
        background: rgba(109, 110, 111, 0.5);
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: rgba(109, 110, 111, 0.5);
    }

    .mat-header-cell {
        background-color: rgba(232, 169, 52, 0.742);
    }

    .mat-paginator {
        background-color: rgb(109, 110, 111);
    }

    .library-card {
        background-color: rgb(84, 84, 84);
    }

    // -----------> Shopping Cart Page <-----------

    .example-card {
        border: 1px solid black;
    }

    #btns {
        // delete-wishlist btns
        border: 2px solid rgb(38, 38, 38);
        background: rgba(232, 169, 52, 0.742);
        color: rgb(64, 42, 0);
    }

    #btns:hover {
        background-color: orange;
        color: white;
    }

    #btn-purchase {
        border: 2px solid rgb(38, 38, 38);
        background: rgba(232, 169, 52, 0.742);
        color: rgb(64, 42, 0);
    }

    #btn-purchase:hover {
        background-color: orange;
        color: white;
    }

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}