@import "@angular/material/theming";
@include mat-core();

$blue-light-scheme: (
    100: #8bb6db,
    500: #617e9a,
    700: #1e5a85,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: #ffffff,
        700: #ffffff,
    ),
);

$orange-light-scheme: (
    100: #e3c38c,
    500: #d7a54f,
    700: #ffa200,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);

$warn-light-scheme: (
    100: #ff80ab,
    500: #ff4081,
    700: #f50057,
    contrast: (100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);

// -------------------------
// Utilizzo Theme System:
// Inserire selettori nel .light-mode e .dark-mode per i componenti che devono subire un cambiamento
// basta fare piccole modifiche come background e color. La struttura dei componenti come display flex 
// saranno nei loro rispettivi file .scss 

$blue-light-pal: mat-palette($blue-light-scheme);
$orange-light-pal: mat-palette($orange-light-scheme);
$warn-light-pal: mat-palette($warn-light-scheme);

$app-light-theme: mat-light-theme($blue-light-pal, $orange-light-pal, $warn-light-pal);

// -------------------------> LIGHT THEME <------------------------

.light-mode {
    @include angular-material-theme($app-light-theme);

    // ---> Selettori utilizzabili in ogni componente chiamandolo nell'html

    #btns,
    #btn-purchase,
    #action-btns,
    #btns-create-modal,
    #btns-profile,
    #btns-addbalance,
    #btns-subscribe {
        border: 1px solid black;
        background: #4486d682;
        color: black;
    }

    #btn-cancel {
        border: 1px solid black;
        background: #4486d611;
        color: black;
    }

    #btns:hover,
    #btn-purchase:hover,
    #action-btns:hover,
    #btns-create-modal:hover,
    #btn-cancel:hover,
    #btns-profile:hover,
    #btns-addbalance:hover,
    #btns-subscribe:hover {
        background-color: #4486d6;
        color: white;
    }

    .primary-snackbar {
        border: 1px solid black;
        border-radius: 10px;
        background-color: #4486d6dd;
        color: black;
        display: flex;
        justify-content: center;
    }

    #spinner-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    #divider {
        background-color: #4486d611;
    }

    #error {
        color: rgb(245, 77, 121);
        font-size: 1.1em;
    }

    // -----------> Sidenav Content & Auth Page <-----------

    // inserire height fisse solo nelle pagine che hanno contenuto fisso (Home, Auth, Profile)

    .example-sidenav-content {
        background: rgba(211, 211, 211, 0.249);

        #auth-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('../src/assets/images/img-login.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 700px;
        }

        // -------> Media Queries (contenuto pagine)
        @media (max-width: 700px) {
            #auth-cont {
                flex-direction: column;
                align-items: center;

                .login-card {
                    height: unset;
                    margin: 10px 0;
                }
            }

        }

        @media (max-width: 1280px) {
            #auth-cont {
                height: 800px;
            }

        }
    }

    // -----------> Library Page <-----------

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    td.mat-cell,
    td.mat-footer-cell {
        background-color: rgba(68, 134, 214, 0.0666666667);
    }

    .mat-header-cell {
        background-color: #4486d6c3;
        color: black;
    }

    .mat-paginator {
        background-color: rgb(194, 194, 194);
    }

    // -----------> Shopping Cart & Wishlist Pages <-----------

    .cart-and-wishlist-card {
        background-color: #4486d611;
    }

    // -----------> Products Page <-----------
    #product-card-content {
        background-color: #4486d611;

        .mat-card-header {
            #title {
                color: black;
            }
        }
    }

    // ------------------> Profile Page <-------------------

    #profile-expansions-cont {
        .mat-accordion .mat-expansion-panel {
            .mat-expansion-panel-header {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid black;
                border-radius: 4px;
            }

            .mat-expansion-panel-header:focus,
            .mat-expansion-panel-header:hover {
                background-color: rgba(161, 194, 217, 0.8);
            }

            .mat-expansion-panel-body {
                background-color: #4486d611;
                border: 1px solid black;
                padding: 18px 0;
                border-radius: 4px;
            }
        }
    }

    // -------------------> Modals <------------------------

    #modals-titles {
        text-align: center;
        margin-bottom: 26px;
    }

    // [Profile Page]
    #profile-card-modals {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #btns-profile {
        width: 45%;
        text-align: center;
        margin: 0 auto;
    }

    // [MODAL SUBSCRIPTION] (CSS not-nested) ===================================================================================================

    #subscription-card-content {
        background-color: #4486d611;
        border: 1px solid black;
    }

    .sub-dialog-cont {
        .mat-expansion-panel-header {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid black;
        }

        .mat-expansion-panel-header.mat-expanded:focus,
        .mat-expansion-panel-header.mat-expanded:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .mat-expansion-panel-body {
            background-color: #4486d611;
            border: 1px solid black;
        }
    }

    // [MODAL PURCHASE] (CSS nested) ======================================================================================================

    .purchase-dialog-cont {

        @media (min-width: 390px) and (max-width: 900px) {

            mat-expansion-panel.purchase-exp-panel {
                .mat-expansion-panel-header {
                    background-color: rgba(255, 255, 255, 0.8);
                }

                .mat-expansion-panel-header.mat-expanded:focus,
                .mat-expansion-panel-header.mat-expanded:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                }

                .mat-expansion-panel-body {
                    background-color: #4486d611;
                }
            }
        }
    }

}

// -------------------------> DARK THEME <------------------------

$app-dark-theme: mat-dark-theme($blue-light-pal, $orange-light-pal, $warn-light-pal);

.dark-mode {
    @include angular-material-theme($app-dark-theme);

    background-color: #333;
    color: rgb(234, 233, 233);

    // ---> Selettori utilizzabili in ogni componente chiamandolo nell'html

    #btns,
    #btn-purchase,
    #action-btns,
    #btns-create-modal,
    #btns-profile,
    #btns-addbalance,
    #btns-subscribe {
        border: 1px solid rgb(38, 38, 38);
        background: rgba(232, 169, 52, 0.742);
        color: rgb(64, 42, 0);
    }

    #btn-cancel {
        border: 1px solid rgb(38, 38, 38);
        background: rgba(191, 152, 80, 0.523);
        color: rgb(64, 42, 0);
    }

    #btns:hover,
    #btn-purchase:hover,
    #action-btns:hover,
    #btns-create-modal:hover,
    #btn-cancel:hover,
    #btns-profile:hover,
    #btns-addbalance:hover,
    #btns-subscribe:hover {
        background-color: #ffa200;
        color: white;
    }

    .primary-snackbar {
        border: 1px solid rgb(38, 38, 38);
        border-radius: 10px;
        background: rgba(232, 169, 52, 0.89);
        color: rgb(64, 42, 0);
        display: flex;
        justify-content: center;
    }

    #spinner-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    #error {
        color: rgb(245, 77, 121);
        font-size: 1.1em;
    }

    // -----------> Sidenav Content & Auth Page <-----------

    .example-sidenav-content {
        background: rgba(211, 211, 211, 0.249);

        #auth-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('../src/assets/images/img-login.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 700px;
        }

        // -------> Media Queries (contenuto pagine)
        @media (max-width: 700px) {
            #auth-cont {
                flex-direction: column;
                align-items: center;

                .login-card {
                    height: unset;
                    margin: 10px 0;
                }
            }
        }

        @media (max-width: 1280px) {
            #auth-cont {
                height: 800px;
            }
        }
    }

    // -----------> Library Page <-----------

    tr.example-element-row:not(.example-expanded-row):hover {
        background: rgba(109, 110, 111, 0.5);
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: rgba(109, 110, 111, 0.5);
    }

    .mat-header-cell {
        background-color: rgba(232, 169, 52, 0.742);
        color: white;
    }

    .mat-paginator {
        background-color: rgb(109, 110, 111);
    }

    .library-card {
        background-color: rgb(84, 84, 84);
    }

    // -----------> Shopping Cart & Wishlist Pages <-----------


    // -----------> Products Page <-----------
    #product-card-content {
        background-color: rgba(191, 152, 80, 0.38);

        .mat-card-header {
            #title {
                color: rgb(230, 230, 230);
            }
        }
    }

    // ------------------> Profile Page <-------------------

    #profile-expansions-cont {
        .mat-accordion .mat-expansion-panel {
            .mat-expansion-panel-header {
                background-color: rgba(88, 88, 88, 0.5);
                border: 1px solid black;
                border-radius: 4px;
            }

            .mat-expansion-panel-header:focus,
            .mat-expansion-panel-header:hover {
                background-color: rgba(232, 169, 52, 0.742);
            }

            .mat-expansion-panel-body {
                background-color: rgba(191, 152, 80, 0.38);
                border: 1px solid black;
                padding: 18px 0;
                border-radius: 4px;
            }
        }
    }

    // -------------------> Modals <------------------------

    #modals-titles {
        text-align: center;
        margin-bottom: 26px;
    }

    // [Profile Page]
    #profile-card-modals {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #btns-profile {
        width: 45%;
        text-align: center;
        margin: 0 auto;
    }

    // [MODAL SUBSCRIPTION] (CSS not-nested) ===================================================================================================

    #subscription-card-content {
        background-color: rgba(191, 152, 80, 0.38);
        border: 1px solid black;
    }

    .sub-dialog-cont {
        .mat-expansion-panel-header {
            background-color: rgba(88, 88, 88, 0.5);
            border: 1px solid black;
        }

        .mat-expansion-panel-header.mat-expanded:focus,
        .mat-expansion-panel-header.mat-expanded:hover {
            background-color: rgba(88, 88, 88, 0.5);
        }

        .mat-expansion-panel-body {
            background-color: rgba(191, 152, 80, 0.38);
            border: 1px solid black;
        }
    }

    // [MODAL PURCHASE] (CSS nested) ======================================================================================================

    .purchase-dialog-cont {

        @media (min-width: 390px) and (max-width: 900px) {

            mat-expansion-panel.purchase-exp-panel {
                .mat-expansion-panel-header {
                    background-color: rgba(88, 88, 88, 0.5);
                }

                .mat-expansion-panel-header.mat-expanded:focus,
                .mat-expansion-panel-header.mat-expanded:hover {
                    background-color: rgba(88, 88, 88, 0.5);
                }

                .mat-expansion-panel-body {
                    background-color: rgba(191, 152, 80, 0.38);
                }
            }
        }
    }

}

// [MODALS CREATE VG, MSC, BOOK, EVENT | DELETE ACCOUNT | UPDATE INFO/CREDENTIALS | ADD-BALANCE | SIGNUP USER/ADMIN | PURCHASE w/ BALANCE/SUB] =====================
.create-vg-dialog-cont,
.create-msc-dialog-cont,
.create-book-dialog-cont,
.event-dialog-cont,
.delete-dialog-cont,
.profilecred-dialog-cont,
.profileinfo-dialog-cont,
.addbalance-dialog-cont,
.admin-dialog-cont,
.signupadmin-dialog-cont,
.purchase-balance-dialog-cont,
.purchase-sub-dialog-cont {
    .mat-card {
        padding: 36px;
    }

    .mat-dialog-container {
        padding: 0;
        border-radius: 10px;
    }

    .mat-dialog-content {
        display: contents;
    }
}

// [MODAL SUBSCRIPTION] (CSS not-nested) ===================================================================================================
.sub-dialog-cont {

    .mat-accordion {
        margin: 3px 0;
    }

    .mat-dialog-container {
        padding: 0;
        border-radius: 10px;
    }

    // modifica expansion panel
    .mat-expansion-panel-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        margin: 0;
    }

    .mat-expansion-panel-body {
        padding: 0 24px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // @@@ Desktop small/big
    @media (min-width: 901px) {

        // dialog a schermo pieno senza scroll verticale/orizzontale
        .mat-dialog-content {
            display: contents;
        }
    }

}

// [MODAL PURCHASE] (CSS nested) ======================================================================================================
.purchase-dialog-cont {

    .mat-card {
        padding: 36px;
    }

    .mat-dialog-container {
        padding: 0;
        border-radius: 10px;
    }

    // @@@ Mobile-Tablet
    @media (min-width: 380px) and (max-width: 900px) {

        // dialog a schermo pieno senza scroll verticale/orizzontale
        .mat-dialog-content {
            display: block;
            padding: 0;
            margin: 0;

            .purchase-card-mobile {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        // modifica expansion panel
        mat-expansion-panel.purchase-exp-panel {
            .mat-expansion-panel-header {
                border-radius: 4px;
                border: 1px solid black;
            }

            // mettere al centro contenuto aligned left
            .mat-expansion-panel-body {
                padding: 12px;
                border-radius: 4px;
                border: 1px solid black;
                width: 65%;
                padding: 15px 75px;
                align-self: center;
            }
        }
    }

    // @@@ Desktop small/big
    @media (min-width: 901px) {

        // dialog a schermo pieno senza scroll verticale/orizzontale
        .mat-dialog-content {
            display: contents;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Risolto problema disallineamento mat-button e mat-image 
.btn-wrapper {
    .mat-button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}