// --------------------- Valori Default -----------------------

td,
th {
    width: 25%;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.img-and-card-content-attribution {
    opacity: 0.5;
}

// --------------------------------------------

.library-cont {
    height: 100%;
    padding-top: 20px;

    /* ======= Table-Filter ======= */

    #filter-cont {
        // per settare il filter al centro (margin auto non funziona)
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }

    /* ======= Table-Container ======= */

    .mat-elevation-z8 {
        box-shadow: none;

        #table-cont {

            .mat-header-cell {
                font-size: 1.1em;
                padding-top: 12px;
            }

            .mat-cell {
                font-size: 1.1em;
            }

            .table-details {
                overflow: hidden;

                .library-card {
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    border: 1px solid black;

                    #modals-titles {
                        font-size: 1.5em;
                    }

                    #img-and-text-cont {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 1100px;

                        #library-card-content {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: center;
                            margin-left: 4px;
                            margin-right: 4px;
                            border-radius: 10px;

                            // contenitore image
                            #img-div {
                                margin: auto;
                                display: flex;
                                align-items: center;
                                width: 50%;

                                // dimensioni immagine
                                .mat-card-image {
                                    width: 85%;
                                    margin: auto;
                                }
                            }

                            #img-and-text-div {
                                width: 50%;
                                border-radius: 10px;
                                border: 1px solid black;
                                padding: 24px;
                            }

                            // dimensioni testo nella card prodotto
                            #img-and-text-div>p,
                            #img-and-text-div>span p {
                                font-size: 1.1em;
                                margin: 0 0 12px;
                            }
                        }
                    }
                }
            }
        }

        /* ======= Table-Paginator ======= */

        .mat-paginator {
            font-size: 1em;

            .mat-paginator-container {
                display: flex;
                padding: 0;
                flex-wrap: unset;
            }
        }
    }

    .mat-paginator {
        font-size: 1em;
    }

    // non mostrare cards con expandable da 900px in su
    .library-card-mobile {
        display: none;
    }

    // --------> Media Queries

    // @@@ Mobile-Tablet

    @media (min-width: 390px) and (max-width: 550px) {

        #filter-cont {
            font-size: 0.9em;
        }

        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 0.9em;
                }

                .mat-cell {
                    font-size: 0.7em;
                }

                .table-details {
                    .library-card {
                        display: none;
                    }

                    .library-card-mobile {
                        padding: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 1px solid black;

                        #modals-titles {
                            font-size: 1.2em;
                        }

                        #img-and-text-cont {
                            width: 290px;

                            #library-card-content {
                                mat-accordion {
                                    mat-expansion-panel.library-exp-panel {

                                        // dimensioni testo nella card prodotto
                                        #img-and-text-div>p,
                                        #img-and-text-div>span p {
                                            font-size: 0.8em;
                                            margin: 0 0 6px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .mat-paginator {
            font-size: 0.9em;
        }
    }

    //-----------------------------------

    @media (min-width: 551px) and (max-width: 900px) {

        #filter-cont {
            font-size: 0.9em;
        }

        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 0.9em;
                }

                .mat-cell {
                    font-size: 0.7em;
                }

                .table-details {
                    .library-card {
                        display: none;
                    }

                    .library-card-mobile {
                        padding: 24px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 1px solid black;

                        #modals-titles {
                            font-size: 1.3em;
                        }

                        #img-and-text-cont {
                            width: 400px;

                            #library-card-content {
                                mat-accordion {
                                    mat-expansion-panel.library-exp-panel {

                                        // dimensioni testo nella card prodotto
                                        #img-and-text-div>p,
                                        #img-and-text-div>span p {
                                            font-size: 0.9em;
                                            margin: 0 0 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .mat-paginator {
            font-size: 0.9em;
        }
    }

    // @@@ Desktop small/big

    @media (min-width: 901px) and (max-width: 1100px) {

        #filter-cont {
            font-size: 1em;
        }

        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 1em;
                }

                .mat-cell {
                    font-size: 0.8em;
                }

                .table-details {

                    .library-card {
                        padding: 12px;

                        #modals-titles {
                            font-size: 1.3em;
                        }

                        #img-and-text-cont {
                            width: 700px;

                            #library-card-content {

                                // dimensioni testo nella card prodotto
                                #img-and-text-div>p,
                                #img-and-text-div>span p {
                                    font-size: 0.9em;
                                    margin: 0 0 8px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .mat-paginator {
            font-size: 1em;
        }
    }

    @media (min-width: 1101px) and (max-width: 1400px) {

        #filter-cont {
            font-size: 1.1em;
        }

        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 1.1em;
                }

                .mat-cell {
                    font-size: 0.9em;
                }

                .table-details {

                    .library-card {
                        padding: 18px;

                        #modals-titles {
                            font-size: 1.4em;
                        }

                        #img-and-text-cont {
                            width: 900px;

                            #library-card-content {

                                // dimensioni testo nella card prodotto
                                #img-and-text-div>p,
                                #img-and-text-div>span p {
                                    font-size: 1em;
                                    margin: 0 0 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Table Completo (Form Filter, Table e Paginator) */
.mat-form-field,
table,
:host ::ng-deep .mat-paginator {
    // in questo modo funziona da width 400px in su
    // sotto 86% width il paginator e' di dimensioni ridotte rispetto agli altri 
    width: 86%;
    margin: auto;
}

#spinner-cont-table {
    display: flex;
    justify-content: center;
    height: 300px;
}