// --------------------- Valori Default -----------------------

td,
th {
    width: 25%;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.img-and-card-content-attribution {
    opacity: 0.5;
}

// --------------------------------------------

#library-cont {
    height: 100%;

    /* ======= Table-Filter ======= */

    #filter-cont {
        // per settare il filter al centro (margin auto non funziona)
        display: flex;
        flex-direction: column;
    }

    /* ======= Table-Container ======= */

    .mat-elevation-z8 {
        box-shadow: none;

        #table-cont {

            .mat-header-cell {
                font-size: 1em;
                padding-top: 12px;
            }

            .mat-cell {
                font-size: 0.9em;
            }

            .table-details {
                overflow: hidden;

                // contenitore image e card
                .img-and-card-content {
                    padding: 0;
                    display: flex;
                    flex-wrap: nowrap;

                    // contenitore image
                    #img-cont {
                        margin: auto;
                        display: flex;

                        // dimensioni immagine
                        .mat-card-image {
                            width: 75%;
                            margin: auto;
                        }
                    }

                    // card prodotto
                    .library-card {
                        width: 75%;
                        margin: auto;
                        border: none;
                        border-radius: unset;
                        margin-bottom: 20px;

                        // titolo prodotto
                        #title {
                            font-size: 1.5em;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }

                        // contenuto card
                        .mat-card-content {
                            font-size: 1.1em;
                        }

                        .mat-card-content>p {
                            line-height: 1.4em;
                        }
                    }
                }
            }

        }

        /* ======= Table-Paginator ======= */

        .mat-paginator {
            font-size: 1em;

            .mat-paginator-container {
                display: flex;
                padding: 0;
                flex-wrap: unset;
            }
        }

    }

    // -------> Media Queries

    @media (max-width: 500px) {
        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 0.7em;
                }

                .mat-cell {
                    font-size: 0.6em;
                }

                .table-details {
                    .img-and-card-content {
                        padding: 0;
                        display: block;
                        flex-wrap: unset;

                        .library-card {
                            .mat-card-content {
                                font-size: 1em;
                            }

                            .mat-card-content>p {
                                line-height: 0.9em;
                            }
                        }
                    }
                }
            }

            .mat-paginator {
                font-size: 0.7em;
            }
        }
    }

    //-----------------------------------

    @media (min-width: 501px) and (max-width: 750px) {
        .mat-elevation-z8 {
            #table-cont {
                .table-details {
                    .img-and-card-content {
                        padding: 0;
                        display: block;
                        flex-wrap: unset;
                    }
                }
            }
        }
    }

    //-----------------------------------

    @media (min-width: 501px) and (max-width: 960px) {
        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 0.8em;
                }

                .mat-cell {
                    font-size: 0.7em;
                }

                .table-details {
                    .img-and-card-content {
                        padding: 0;
                        display: block;
                        flex-wrap: unset;

                        .library-card {
                            .mat-card-content {
                                font-size: 1em;
                            }

                            .mat-card-content>p {
                                line-height: 1em;
                            }
                        }
                    }
                }
            }

            .mat-paginator {
                font-size: 0.8em;
            }
        }
    }

    //-----------------------------------

    @media (min-width: 961px) and (max-width: 1280px) {
        .mat-elevation-z8 {
            #table-cont {
                .mat-header-cell {
                    font-size: 0.9em;
                }

                .mat-cell {
                    font-size: 0.8em;
                }

                .table-details {
                    .img-and-card-content {
                        padding: 0;
                        display: block;
                        flex-wrap: unset;

                        .library-card {
                            .mat-card-content {
                                font-size: 1.1em;
                            }

                            .mat-card-content>p {
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }

            .mat-paginator {
                font-size: 0.9em;
            }
        }
    }

}

/* Table Completo (Form Filter, Table e Paginator) */
.mat-form-field,
table,
:host ::ng-deep .mat-paginator {
    // in questo modo funziona da width 400px in su
    // sotto 86% width il paginator e' di dimensioni ridotte rispetto agli altri 
    width: 86%;
    margin: auto;
}

#spinner-cont-table {
    display: flex;
    justify-content: center;
    height: 300px;
}