<form #f="ngForm" (ngSubmit)="onSubmit()">
    <!-- predisporre i campi di input al post dei dati nel back-end 
        (le proprieta' dovranno matchare l'interfaccia ed i dati del back-end)
        per sapere il nome delle proprieta' esatte controllare in swagger i valori del request body -->
    <mat-card class="login-card">

        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Insert your Access Credentials.</mat-card-subtitle>

        <mat-card-content>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your username</mat-label>
                <!-- il campo userName deve essere lo stesso della classe LoginRequest (Java) -->
                <input matInput ngModel name="userName" type="text">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" ngModel name="password">
                <mat-icon matSuffix>lock_open</mat-icon>
            </mat-form-field>

            <mat-card-actions>
                <button id="btns" mat-button type="submit">Login</button>
            </mat-card-actions>

            <mat-card-footer *ngIf="show">
                <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
                <div *ngIf="error">
                    <p id="error">Username/password incorrect</p>
                </div>
            </mat-card-footer>

        </mat-card-content>

    </mat-card>
</form>