<mat-card class="example-card" *ngFor="let msc of music">

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Title: {{msc.title}}</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <p>Initial Price: {{msc.priceInitial}}$</p>

        <p *ngIf="isDiscounted">Price Discounted: {{msc.priceFinal}}$</p>
        <p *ngIf="isDiscounted">Discount: {{msc.discount}}%</p>

        <p>Description: {{msc.description}}</p>
        <p>Platform: {{msc.platform}}</p>
        <p>Publisher: {{msc.publisher}}</p>
        <p>Release Date: {{msc.releaseDate}}</p>
        <p>Language: {{msc.language}}</p>
        <p>Genre: {{msc.genre}}</p>

        <p>Ratings: <span *ngIf="msc.ratings!== null ; else ratingsBlock">{{msc.ratings}}</span></p>
        <ng-template #ratingsBlock> No ratings yet...</ng-template>

        <p>Reviews: <span *ngIf="msc.reviews!== null ; else reviewsBlock">{{msc.reviews}}</span></p>
        <ng-template #reviewsBlock> No reviews yet...</ng-template>

        <!-- Proprieta' esclusive Music -->

        <p>Plays: <span *ngIf="msc.plays!== null ; else playsBlock">{{msc.plays}}</span></p>
        <ng-template #playsBlock> No Plays yet...</ng-template>

        <p>Isrc Code: {{msc.isrcCode}}</p>
        <p>Artist: {{msc.artist}}</p>
        <p>Album: {{msc.album}}</p>
        <p>Duration: {{msc.duration}}</p>

    </mat-card-content>

    <mat-card-actions>
        <!-- prendo msc.id dal ciclo sopra, passo id dal parametro del dialog al ts -->
        <button mat-button (click)="openPurchaseDialog(msc.id)">Get Free w/ Sub -or- Purchase for
            {{msc.priceInitial}}$</button>
        <button mat-button (click)="addToWishList(getId, msc.id)">Add to WishList</button>
    </mat-card-actions>
</mat-card>