<mat-dialog-content class="mat-typography">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

        <mat-card class="example-card">

            <mat-card-title>Are you sure you want to delete your Account?</mat-card-title>
            <mat-card-subtitle id="modals-titles">All purchases associated with this account will be deleted.
            </mat-card-subtitle>

            <mat-dialog-actions align="end">
                <button mat-button id="btns-profile" mat-dialog-close>Cancel</button>
                <button mat-button id="btns-profile" [mat-dialog-close]="true" cdkFocusInitial
                    type="submit">Delete</button>
            </mat-dialog-actions>

        </mat-card>
    </form>
</mat-dialog-content>