#divider {
    background-color: rgb(255, 0, 111);
    border: 1px solid rgb(255, 0, 111);
}

.delete-dialog {
    background-color: rgb(255, 0, 111);
    width: 45%;
    text-align: center;
    margin: 0 auto;
}